<!DOCTYPE html>
	<html xmlns:th="http://www.thymeleaf.org">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
	
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Year List</title>
	</head>
	
	<body>
		<h1>Movies from different years</h1>
		<div class="buttoncontainer">
			<a href="/movies" class="btn btn-primary">Back to movies</a>
		</div>
		
		<div class="container shadow-4 rounded-5 overflow-hidden mb-0">
			<table class="table table-stripped table-hover">
				<thead class="thead-dark">
					<tr>
						<th>Year</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="publishyear: ${publishyears}" th:object="${publishyear}" class="table table-bordered">
						<td th:text="*{name}">
						<td>
							<a th:href="@{/movies/publishyear/{publishyear}(publishyear=*{id})}" class="btn btn-info">
							<label th:text="'Movies from ' + *{name}"></label>
							</a>
						</td>
						<td>
							<a th:href="@{deleteyear/{id}(id=*{id})}" class="btn btn-danger">
							Delete
							</a>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="buttoncontainer">
			<a href="/movies" class="btn btn-primary">Back to movies</a>
		</div>
	</body>
</html>